html, body {
  width: 100%;
  height: 100%;
}
/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 530px) {

  /*Jumbotron*/
  .imagen-2 {
    position: absolute;    
    margin: 15% 1% 0 20%;
    width: 155% !important;
    opacity: 80%;
  }

  .jumbotron {
    height: 90vh !important;
    width: 100%;
    border: solid 1px #202124;
    background-color: #202124;
  }

  .jumbotron .texto-2 {
    position: absolute;        
    margin: 190% 0% 0 -60% !important;
    width: 120% !important;
    /* font-size: 100vh !important; */
  }

  .jumbotron #particles-js {
    margin: -5vh 0% 0% -2.2vh;
    height: 90vh;
    width: 110%;
    z-index: 1;
    background-color: #202124;
    border: solid 2px #202124;
  }

  .jumbotron h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100% !important;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
}