/*Jumbotron*/

.jumbotron {
    position: relative;
}

.imagen-2 {
    bottom: 3%;
    position: absolute;
    width: 19%;
}

.jumbotron .texto-2 {
    width: 70%;
    margin-left: 25%;
    margin-bottom: -4%;
}

.jumbotron h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    align-items: center;
    text-align: center;
    color: #000000;
}

/*Carrusel*/
.carousel{    
    height: 10%;
    border: 2px solid blue;
}

.carousel .carousel-inner{
    height: 50px;
}

.carousel .carousel-inner img{
    height: 10%;
}

/* Cambiar el color del link*/

li a:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #188038;
    -webkit-transform: scale(1.1);
}

.active {
    background-color: #188038;
}

nav {
    background-color: #34A853;
}


/* Nuestros servicios */

.service {
    background-color: #F3F5F9;
    height: 100%;
    border: 1px solid #F3F5F9;
    margin: 4% 0 0 0;
}

.service .card-group{/*contenedor*/
    width: 100%;
    height: 100%;
    padding-bottom: 2%;
}


.service .card-group .card{/*modificar cartas*/
    margin: 1% 4% 0 4%;
    width: 95%;
    background: rgba(32, 33, 36,0.85);
    color: #FFFFFF;
    position: static;
}


.service .img-fluid{
    width: 80%;
    margin: auto auto;
    display: block;
}

.service .titulo-service {
    font-size: 3vw;
    color: #5C6064;
    margin: 1% 0 0 4%;
    border: 3px solid #5C6064;
    width: 92%;
}

.service .card-header4, .card-header1, .card-header2, .card-header3{
    height: 60%;
}

.service .card-body{
    height: 50%;
}

.service .card {
    display: inline-block;
    /* height: 50%; */
    margin: 1.5% 0 1.5% 2%;
    position: static;
}

.service .card-header1 {
    background-image: url(img/school.jpg);
    background-size: 100%;
}

.service .card-header2 {
    background-image: url(img/cup.jpg);
    background-size: 100%;
}

.service .card-header3 {
    background-image: url(img/gnp.jpg);
    background-size: 100%;
}

.service .card-header4 {
    background-image: url(img/gnp.jpg);
    background-size: 80%;
}

.service .card-title{
    font-size: 1.5vw;
}
.service .card-text{
    font-size: 1vw;
}

.service .card {
    display: inline-block;
    width: 22.39%;
    height: 100%;
    margin: 1.5% 0 1.5% 2%;
    position: static;
}

.serive .card-header img {
    width: 67.9%;
    margin: 0 auto 0 auto;
    display: block;
    /* opacity: 50%; */
}

.service .card-title {
    font-size: 2vw;
}

.service .card-text {
    font-size: 1vw;
}


/*mison, vision y eso*/

.mision .card-group {
    background-image: url(img/img10.jpg);
    background-size: 100%;
    width: 100%;
    padding-bottom: 4%;
}

.mision .card-group .card {
    margin: 4% 4% 0 4%;
    background: rgba(32, 33, 36, 0.85);
    color: #FFFFFF;
}

.mision .card-group .card-body img {
    width: 75%;
    margin: 0 auto 0 auto;
    display: block;
}


/*Quienes somos descripcion completa*/

.quien {
    background-image: url(img/somos.jpg);
    background-size: 100%;
    position: relative;
    width: 100%;
}

header h2 {
    font-size: 2.5vw;
    margin: 2% 0 1% 6%;
    border: 3px solid #5C6064;
    width: 20.8%;
    color: #5C6064;
}

section th {
    width: 60%;
}

section .card-text {
    margin: 2% 0 5% 10%;
    width: 100%;
    font-size: 1vw;
    padding-right: 20%;
}

section .card-img {
    width: 70%;
}


/* Team */
.team {
    background-color: #F3F5F9;
    margin: 2% 0 0 0;
}

.team .titulo-team {
    font-size: 3.5vw;
    color: #5C6064;
    margin: 1.5% 0 0 4%;
    border: 3px solid #5C6064;
    width: 31.8%;
}

.team .card-group{/*Contenedor de las cartas*/
    width: 100%;
    padding-bottom: 4%;
}

.team .card-group .card{
    margin: 0 4% 1% 4%;
    background: rgba(32, 33, 36,0.85);
    color: #FFFFFF;    
    width: 95%;
}

.team .card-group .card-body img{
    width: 100%;
    margin: auto auto;
    display: block;
}

.team .card-header {
    background-image: url(img/team.jpg);
    background-size: 100%;
}

.team .card-header img {
    width: 67.9%;
    margin: 0 auto 0 auto;
    display: block;
    /* opacity: 50%; */
}

.team .card-body {
    background-color: #202124;
    text-align: center;
    height: 50%;
}

.team .card-body hr {
    width: 70%;
    height: 1%;
    background-color: #FBBC04;
}

.team .card-title{
    font-size: 2vw;
}
.team .card-text{
    font-size: 1vw;
}

.team .card-title {
    color: white;
}

/* Contacto */

.contacto {
    background-image: url(img/img4.jpg);
    background-size: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto .cuadro {
    display: block;
    width: 70%;
    margin: 4% 4% 4% 4%;
    color: #FFFFFF;
    background: rgba(32, 33, 36, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacto .cuadro h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 70px;
    font-size: 2.5vw;
}

.card-group {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contacto .cuadro .card-body {
    background: transparent;
    color: #FFFFFF;
    margin-right: 6%;
    margin-left: 1%;
}

.entrada {
    background: transparent;
    width: calc(94% - 1rem);
    font-size: 1.0vw;
    border: 0 solid;
    color: white;
    display: block;
    transition: 250ms background ease-in;
    &:focus {
        background: white;
        color: black;
        transition: 250ms background ease-in;
    }
}

.input-2 {
    border-bottom: .1rem solid white;
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding: .5rem;
    position: relative;
}

#demo2 {
    position: absolute;
    display: block;
    top: 10%;
    right: 1%;
}

#demo {
    position: absolute;
    display: block;
    top: 10%;
    right: 1%;
}

.input-3 {
    display: block;
    width: 12%;
    position: relative;
    border: 0 solid;
}

#demo3 {
    position: absolute;
    display: block;
    top: 10%;
    right: 5%;
    height: 75%;
    width: 17%;
}

.entrada-3 {
    margin-left: 20%;
    background: transparent;
    font-size: 1.2vw;
    border: 0 solid;
    color: white;
    display: flex;
}

.mensaje {
    background: rgba(196, 196, 196, 0.14);
    width: 70%;
    height: 120px;
    font-size: 1.0vw;
    border: 0 solid;
    color: white;
}


/* FOOTER */

footer {
    background-color: #131A22;
    color: white;
    text-align: center;
}

footer p {
    font-size: 1.3vw;
}

footer span{
    font-size: 1.3vw;
}

footer .redes {
    width: 20%;
    background-color: #3F4042;
    border: 2px solid #3F4042;
    border-radius: 30px;
    margin: 0 auto;
}

footer .redes .img-fluid {
    width: 12%;
}

footer hr {
    height: 1px;
    width: 50%;
    background-color: white;
}

footer span .derechos {
    display: inline;
    margin: 0 10% 0 0;
}