/*Jumbotron*/
.jumbotron th{
    width: 50%;
}
.jumbotron h1{
width: 795px;
height: 93px;
left: 50%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 2.0vw;
line-height: 42px;
align-items: center;
text-align: center;

color: #000000;
}  

li a {
    display: block;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Cambiar el color del link*/

li a:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #188038;
    -webkit-transform: scale(1.1);
}

.active {
    background-color: #188038;
}

nav {
    background-color: #34A853;
}
/* Nuestros servicios */
.service {
    background-color: #F3F5F9;
    height: 100%;
    border: 1px solid #F3F5F9;
    margin: 2% 0 0 0;
}
.service .titulo-service {
    font-size: 3vw;
    color: #5C6064;
    margin: 1% 0 0 2%;
    border: 3px solid #5C6064;
    width: 95.9%;
}

.service .card {
    display: inline-block;
    /* height: 50%; */
    margin: 1.5% 0 1.5% 2%;
    position: static;
    
}

.service .card-header1 {
    height: 260px;
    background-image: url(img/school.jpg);
    background-size: 100% ;
}

.service .card-header2 {
    height: 260px;
    background-image: url(img/cup.jpg);
    background-size: 100% ;
}
.service .card-header3 {
    height: 260px;
    background-image: url(img/gnp.jpg);
    background-size: 100% ;
}
.service .card-header4 {
    height: 260px;
    background-image: url(img/gnp.jpg);
    background-size: 80% ;
}

.service .card {
    display: inline-block;
    width: 22.39%;
    height: 100%;
    margin: 1.5% 0 1.5% 2%;
    position: static;
    
}

.serive .card-header img {
    width: 67.9%;
    margin: 0 auto 0 auto;
    display: block;
    /* opacity: 50%; */
}

.service .card-title{
    font-size: 2vw;
}

.service .card-text{
    font-size: 1vw;
}
/* Quienes somos */
/* Team */

.team {
    background-color: #F3F5F9;
    height: 100%;
    border: 1px solid #F3F5F9;
    margin: 2% 0 0 0;
}

.team .titulo-team {
    font-size: 3.5vw;
    color: #5C6064;
    margin: 1.5% 0 0 2%;
    border: 3px solid #5C6064;
    width: 31.8%;
}

.team .card {
    display: inline-block;
    width: 22.39%;
    margin: 1.5% 0 1.5% 2%;
    position: static;
    
}

.team .card-header {
    background-image: url(img/team.jpg);
    background-size:100% ;
}

.team .card-title{
    font-size: 2vw;
}

.team .card-text{
    font-size: 1vw;
}

.card-header img {
    width: 67.9%;
    margin: 0 auto 0 auto;
    display: block;
    /* opacity: 50%; */
}

.card-body {
    background-color: #202124;
    text-align: center;
}

.card-body hr {
    width: 70%;
    height: 5%;
    background-color: #FBBC04;
}

.card-body .card-text {
    color: white;
}

.card-title {
    color: white;
}

/* Contacto */

/* FOOTER */

footer {
    background-color: #131A22;
    color: white;
    text-align: center;
}

footer p {
    font-size: 1.3vw;
}

footer .redes {
    width: 20%;
    background-color: #3F4042;
    border: 2px solid #3F4042;
    border-radius: 30px;
    margin: 0 auto;
}

footer .redes .img-fluid {
    width: 12%;
}

footer hr {
    height: 1px;
    width: 50%;
    background-color: white;
}

footer span .derechos {
    display: inline;
    margin: 0 10% 0 0;
}
footer span {
    font-size: 1.2vw;
}

/* MISION VISION VALORES OBJETIVOS */

.mvov {
    background-image: url(img/img10.jpg);
    height: 100%;
}